*.iml
.idea/
.DS_Store

android/.DS_Store
android/android.iml
android/gradlew
android/gradlew.bat
android/local.properties

ios/.DS_Store

node_modules/
android/build/
android/app/build/
ios/build/
UsabillaSampleApp/
*.log
*.tgz
.DS_Store
.env*
coverage/
dist/
build/
*.tsbuildinfo
*.pid
*.seed
*.pid.lock
.cache/
logs/
*.tgz
*.tgz
